In [2]:
import pandas as pd

In [3]:
df_poi = pd.read_pickle("utseus-poi-dianping.pk")
df_poi.head()

,name,branch_name,address,telephone,city,latitude,longitude,avg_rating,product_grade,decoration_grade,service_grade,product_score,decoration_score,service_score,review_count,avg_price,photo_count,category
business_id,,,,,,,,,,,,,,,,,,
500000,阿凡提美食娱乐城(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,虹口区曲阳路775号天山宾馆B1楼,021-65559604,上海,31.288305,121.490440,30.0,1.0,1.0,1.0,6.8,6.3,6.3,482,81.0,140.0,新疆菜
500001,萨莎(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,徐汇区东平路11号,021-64746628,上海,31.208550,121.449710,40.0,1.0,1.0,1.0,7.3,8.4,7.4,891,149.0,441.0,酒吧
500001,萨莎(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,徐汇区东平路11号,021-64746628,上海,31.208550,121.449710,40.0,1.0,1.0,1.0,7.3,8.4,7.4,891,149.0,441.0,牛排
500003,1221餐馆(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,长宁区延安西路1221号,021-62136585,上海,31.211315,121.427780,35.0,1.0,1.0,1.0,7.1,7.4,7.6,369,144.0,182.0,本帮菜
500008,Food Live(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,浦东新区世纪大道88号金茂君悦大酒店B1楼,021-50491234-8283,上海,31.235252,121.505745,30.0,1.0,1.0,1.0,6.1,6.3,6.3,38,26.0,12.0,快餐简餐

In [4]:
df_poi['category'].unique()

array(['新疆菜', '酒吧', '牛排', '本帮菜', '快餐简餐', '意大利菜', '西式简餐', '燕翅鲍', '茶餐厅',
       '粤菜馆', '蟹宴', '寿司/简餐', '特色餐厅', nan, '日本料理', '云南菜', '湘菜', '自助餐',
       '宁波菜', '韩国料理', '素菜', '海鲜', '杭帮菜', '火锅', '法国菜', '粤菜', '涮羊肉', '熟食',
       '小吃', '拉美烧烤', '印度菜', '面包', '绍兴菜', '面馆', '淮扬菜', '咖啡厅', '茶馆', '台湾菜',
       '港台甜品', '日式烧烤/铁板烧', '泰国菜', '越南菜', '西式甜点', '西餐', '本帮江浙菜', '闽菜',
       '川菜/家常菜', '创意菜', '饺子', '白斩鸡', '贵州菜', '北京菜', '日式自助', '中东菜', '东南亚菜',
       '西北菜', '川菜', '粥店', '小笼', '东北菜', '食品茶酒', '冰淇淋', '烤鱼', '江西菜', '包子',
       '米粉', '生煎', '西班牙菜', '鱼火锅', '麻辣烫', '清真菜', '新加坡菜', '中餐', '江浙菜', '锅贴',
       '上岛咖啡', '烧烤', '比萨', '零食', '饮品', '馄饨', '小龙虾', '香啡缤', '鲁菜', '迪欧咖啡',
       '湖北菜', '婚宴', '小吃快餐', '超市/便利店', '经济型酒店', '潮汕菜', '两岸咖啡', '香锅',
       'DIY手工坊', '山西菜', '徽菜', '家具', '休闲娱乐', 'KTV', '游艺厅', '服饰鞋包', '物流快递',
       '化妆品', '美容/SPA', '保龄球馆', '博物馆', '文化艺术', '电影院', '高尔夫场', '度假村', '公园',
       '景点/郊游', '瑜伽', '健身中心', '游泳馆', '瘦身纤体', '运动户外', '舞蹈', '篮球场', '足球场',
       '乒乓球馆', '空手道馆', '美发', '美甲', '足疗按摩', '攀岩馆', '图书馆', '休闲网吧', '网球场',
       '体育场馆', '学校', '洗浴', '温泉', '游乐游艺', '游乐场', '密室', '亲子乐园', '羽毛球馆',
       '齿科', '快照/冲印', '个性写真', '数码产品', '宠物医院', '宠物店', '生活服务', '公司企业',
       '居家维修', '亲子摄影', '婚礼策划', '司仪主持', '工作室', '影楼', '家政', '驾校', '培训',
       '旅行社', '维修保养', '大众', '别克', '品牌', '奥迪', '本田', '婚车租赁', '汽车租赁',
       '半包装修', '婚房装修', '清包装修', '整形', '医院', '书店', '家居用品', '儿童服饰', '孕产用品',
       '婚戒首饰', '黄金珠宝', '购物场所', '综合商场', '流行饰品', '眼镜店', '玩具', '家装卖场',
       '精工名表', '特色集市', '品牌折扣店', '家纺/床上用品', '美术展览', '家居软装', '宝宝用品', '中式礼服',
       '珠宝饰品', '幼儿才艺', '家用电器', '厨房卫浴主材', '商务楼', '花店', '装修设计', '射箭馆',
       '演出场馆', '家居建材', '儿童摄影', '雪铁龙', '办公/文化用品', '农家菜', '交通', '星巴克',
       '五星级酒店', '售票点', '银行', '电信营业厅', '四星级酒店', '三星级酒店', '莫泰', '雪佛兰',
       '幼儿外语', '场馆', '武术', '格林豪泰', '洗衣店', '演出票务', '孕妇写真', '妇幼医院', '溜冰场',
       '棋牌室', '锦江之星', '桌球馆', '壁球馆', '婚礼小商品', '港口/码头', '创意园区', '网站',
       '公寓式酒店', '长途汽车站', '火车站', '真锅咖啡厅', 'COSTA COFFEE', '酒店住宿', '体检中心',
       '女士婚纱', '彩妆造型', '晚礼服', '药店', '四川火锅', '如家', '汽车美容', '配件/车饰', '公交车',
       '地铁/轻轨', '青年旅舍', '跆拳道馆', '早教中心', '美睫', '婚纱摄影', '真人CS', '精品酒店',
       '加油站', '马术场', '飞机场', '汉庭', '婚礼跟拍', '游轮婚礼', '7天连锁', '采摘/农家乐', '奇瑞',
       '现代', '桌面游戏', '丰田', '客栈旅舍', '公办幼儿园', '月子服务', '标致', '男士礼服', '奢侈品护理',
       '产后恢复', '公办小学', '停车场', '墙面材料', '骑马场', '福特', '轰趴馆', '马自达', '宝马',
       '亲子服务', '示范/一级园', '小区', '日产', '双语幼儿园', '民办幼儿园', '婚纱礼服', '婚庆公司',
       '亲子购物', '民办小学', '起亚', '奔驰', '4S店/汽车销售', '寄宿幼儿园', '房屋地产', '小学',
       '婴儿游泳', '家具家居', '铃木', '托班/托儿所', '纹身', '小火锅', '日本', 'SPR咖啡',
       '客厅卧室主材', '管线辅料', '九年一贯制', '荣威', '寄宿小学', '幼儿园', '开瑞', '东南', '比亚迪',
       '汽车保险', '武术场馆', '高端定制婚礼', '全包装修', '私人影院', '宠物', '建材', '孕产护理',
       '智能家居', '美食', '面包甜点', '幼儿教育', '运动场馆', '亲子游乐'], dtype=object)

# Clean data

In [20]:
df_italian.columns

Index(['name', 'branch_name', 'address', 'telephone', 'city', 'latitude',
       'longitude', 'avg_rating', 'product_grade', 'decoration_grade',
       'service_grade', 'product_score', 'decoration_score', 'service_score',
       'review_count', 'avg_price', 'photo_count', 'category'],
      dtype='object')

In [34]:
df_italian = df_poi[df_poi.category == '意大利菜']

In [35]:
df_italian = df_italian[df_italian.city == '上海']

In [37]:
del df_italian['branch_name']

In [40]:
df_italian = df_italian.dropna()

In [43]:
df_italian.describe()

,latitude,longitude,avg_rating,product_grade,decoration_grade,service_grade,product_score,decoration_score,service_score,review_count,avg_price,photo_count
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000
mean,30.980145,120.538100,34.342105,0.838346,0.838346,0.838346,6.480451,6.826692,6.745113,310.849624,116.379699,500.078947
std,2.702201,10.511509,13.921596,0.368827,0.368827,0.368827,2.937640,3.074165,3.045701,516.607577,119.566334,726.113712
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,31.203043,121.429860,30.000000,1.000000,1.000000,1.000000,6.625000,7.000000,6.900000,10.250000,47.000000,37.000000
50%,31.216915,121.453965,40.000000,1.000000,1.000000,1.000000,7.650000,8.100000,7.900000,123.000000,96.500000,239.500000
75%,31.232381,121.486840,45.000000,1.000000,1.000000,1.000000,8.275000,8.700000,8.600000,401.500000,146.750000,679.500000
max,31.626890,121.793820,50.000000,1.000000,1.000000,1.000000,9.100000,9.400000,9.200000,3735.000000,1062.000000,5001.000000

In [47]:
df_italian = df_italian[(df_italian.avg_price > 0) & (df_italian.avg_rating > 0)]

In [48]:
len(df_italian)

204

In [50]:
from shapely.geometry import Point # Shapely for converting latitude/longtitude to geometry
import geopandas as gpd

In [51]:
geometry = [Point(xy) for xy in zip(df_italian['longitude'], df_italian['latitude'])]

In [52]:
df_italian['geometry'] = geometry

In [53]:
df_italian.head()

,name,address,telephone,city,latitude,longitude,avg_rating,product_grade,decoration_grade,service_grade,product_score,decoration_score,service_score,review_count,avg_price,photo_count,category,geometry
business_id,,,,,,,,,,,,,,,,,,
500018,华万意意大利餐厅(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),卢湾区太仓路181弄新天地北里7号楼,021-63112211,上海,31.219019,121.474884,40.0,1.0,1.0,1.0,7.7,8.4,8.0,470,323.0,450.0,意大利菜,POINT (121.474884 31.219019)
500030,艾迪多慕思(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),静安区延安西路200号文艺宾馆新楼1楼,021-62488499,上海,31.219666,121.441730,40.0,1.0,1.0,1.0,7.7,8.3,7.9,96,354.0,48.0,意大利菜,POINT (121.44173 31.219666)
500123,李奥纳多达芬奇餐厅(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),静安区华山路250号希尔顿酒店1楼,021-62480000-1850,上海,31.219276,121.445450,40.0,1.0,1.0,1.0,7.7,8.5,8.2,458,296.0,654.0,意大利菜,POINT (121.44545 31.219276)
500137,大马可意大利餐厅(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),长宁区东诸安浜路103号维景酒店公寓1楼,021-62104495,上海,31.218105,121.434270,40.0,1.0,1.0,1.0,8.3,8.2,7.9,2052,146.0,1996.0,意大利菜,POINT (121.43427 31.218105)
500281,吉范尼斯(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),长宁区遵义南路5号虹桥喜来登上海太平洋大饭店27楼,021-62758888,上海,31.203594,121.405530,40.0,1.0,1.0,1.0,7.9,8.6,8.8,210,244.0,559.0,意大利菜,POINT (121.40553 31.203594)

In [54]:
df_italian.to_csv('map_italian.csv')